<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

The name of this Notebook is:
# TriakshMitra_IBM_ToolsforDS_FinalAssignment

_Exercise 2_

## Introduction

This notebook has been created by Triaksh Mitra as an submission to the Final Assignment in the Coursera Tools for Data Science course offered by IBM in step of the IBM Data Scientist Certification.

_Exercise 3_

## Data Science Languages

Popular Data Science Languages include:

1. Python
2. R
3. Java
4. Spark
5. Julia
6. SQL

_Exercise 4_

## Data Science Libraries

Popular Data Science Libraries include:

1. Tensorflow
2. SKLearn
3. Pandas
4. Numpy

_Exercise 5_

## Data Science Tools

Popular Data Science Tools and their broad function are listed below:

| Tool Name | Function |
|-----------|----------|
| Tableau | Data Visualization |
| MS PowerBI | Data Visualization |
| MongoDB | NoSQL Database |
| IBM DB2 | SQL Database |
| Apache Hadoop | Big Data Framework |
| Apache Spark | Big Data Framework |
| Tensorflow | ML Framework |

_Exercise 6_

## Arithmetic Expression Examples

Arithmetic Expressions can vary in nature, for example addition/subtraction or multiplication or even more complex functions. It is very easily implemented in Jupyter Notebooks, simply by writing the expression in any code cell and running it will give you the answer.

2*2 is a basic example of multiplication

3 + 6 is a simple example of addition

2**4 is an example of exponentiation

_Exercise 7_

In [7]:
# Multiplying and adding numbers:

2*(4 + 3)

# Exercise 8

14

In [8]:
# Converting minutes to hours:

time_in_min = 127
time_in_hrs = time_in_min/60
time_in_hrs

# Exercise 9

2.1166666666666667

## Objectives

The Objectives of this exercise are to gauge what the student has learned about the basics of the various tools used in Data Science.

_Exercise 10_

## Author: Triaksh Mitra

_Exercise 11_